.header {
  min-height: 60px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
}
